<html>
<p>Hello,</p>
<%=firstName%> <%=lastName%><p><br \>
    Greetings from Website!<br \>
    We have processed your registration.<br \>
    You need to activate your account by clicking on the following link:<br \><br \>
    <br \><br \>
    Enjoy,<br>
   Team
</html>